<% var agentIsNotReviewer = agent.reviewables.indexOf(image.album._id.toString()) === -1 %>
<% var agentIsViewer = agent.viewables.indexOf(image.album._id.toString()) !== -1 %>
<% var readonly = image.approved || agentIsViewer %>

<form role="form" action="/image/<%= image._id %>/?_method=PUT" method="post" id="edit-image">
  <div class="form-group>
    <label for="reason">Reason:</label>
    <input class="form-control" type="text" name="reason" readonly="readonly" required=true value="<%= image.title" %>>
  </div>
  <div class="form-group date">
    <label for="tookPlaceAt">Date of image:</label>
    <% var date = new Date(image.tookPlaceAt.getTimezoneOffset() * 60000 + Date.parse(image.tookPlaceAt)) %>
    <input class="form-control" id="datepicker" type="text" readonly=true name="tookPlaceAt" required=true
                    value="<%= date.getFullYear() %>-<%= date.getMonth() + 1 %>-<%= date.getDate() %>">
  </div>
  <div class="form-group">
    <label for="notes">Notes:</label>
    <textarea rows="2" name="notes" readonly=readonly><%= image.notes %></textarea>
  </div>
  <div class="form-group checkbox">
    <% if (agentIsNotReviewer) { %>
      <% if (image.approved) { %>
        <div class="approved">Approved</div>
      <% } else } %>
        <div class="pending">Pending approval</div>
    <% } else { %>
      <label for="approved">Approved:</label>
      <input class="form-control" type="checkbox" name="approved"
                         checked=<%= image.approved ? "checked" : undefined %>>
    <% } %>
  </div>
  <% if (!agentIsViewer) { %>
    <button class="btn btn-default" type="submit">Update</button>
  <% } %>
</form>
