<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <% if (image.type === 'image') { %>
      <section class="image">
        <img src="/uploads<%= image.file %>" />
      </section>
    <% } else { %>
      <section class="link">
        <a href="/uploads<%= image.file %>"><%= image.file.split('/')[image.file.split('/').length-1] %></a>
      </section>
    <% } %>
      <section id="image-controls">
        <form action="<%= `/image${image.file}?_method=PUT` %>" method="post" id="publish-image-form">
          <div class="form-group date invoice-details">
            <label for="purchaseDate">Date of invoice</label>  
            <input id="datepicker"
                   class="form-control"
                   type="text"
                   name="purchaseDate"
                   <%= canWrite ? '' : ' disabled=disabled' %>
                   required=true
                   value="<%= invoice ? invoice.formatPurchaseDate() : (canWrite ? today : '') %>">
          </div>
          <div class="form-group currency invoice-details">
            <label for="total">Total</label>  
            <input id="total" class="form-control" type="number" name="total" min="0" step="0.01" required=true
                   <%= canWrite ? '' : ' disabled=disabled' %> value="<%= invoice ? invoice.formatTotal() : '' %>">
          </div>
          <div class="form-group">
            <select class="dropdown form-control" name="category" required=true
                    <%= canWrite ? '' : ' disabled=disabled' %>>
              <option value="">--Expense Category--</option>
              <% for (let category in categories) { %>
                <option value="<%= category %>"<%= invoice && category === invoice.category ? ' selected=selected': '' %>><%= `${category} - ${categories[category]}` %></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="reason">Items:</label>  
            <input id="reason" class="form-control" type="text" name="reason" required=true
                   <%= canWrite ? '' : ' disabled=disabled' %> value="<%= invoice ? invoice.reason : '' %>">
          </div>
          <% if (canWrite) { %>
            <button id="publish-image-button" type="submit">Save</button>
          <% } %>
        </form>
        <% if (canWrite) { %>
          <form action="<%= `/image${image.file}?_method=DELETE` %>" method="post" id="delete-image-form">
            <button id="delete-image" type="submit">Delete</button>
          </form>
        <% } %>
        <form action="/image" method="get" id="cancel-edit-form">
          <button id="cancel-edit" type="submit">Cancel</button>
        </form>
      </section>
  </main> 
  <% include ../_partials/footer %>

