<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <h2>Hello, <%= agent.email %></h2>
    <% if (writables.length) { %>
      <section class="writables">
        <h3>Writable albums:</h3>
        <% for (let writable of writables) { %>
          <section class="agent">
            <a href="/image/<%= writable.path %>"><%= writable.path %></a><span class="count"><%= writable.files.length ? ` (${writable.files.length})` : '' %></span>
          </section>
        <% } %>
      </section>
    <% } %>
    <% if (readables.length) { %>
      <section class="readables">
        <h3>Viewable albums:</h3>
        <% for (let readable of readables) { %>
          <section class="agent">
            <a href="/image/<%= readable.path %>"><%= readable.path %></a><span class="count"><%= readable.files.length ? ` (${readable.files.length})` : '' %></span>
          </section>
        <% } %>
      </section>
    <% } %>
  </main> 
<% include ../_partials/footer %>

