<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main> 
    <% include ./list %>
    <details id="submit-image">
      <summary>Submit a new image</summary>
      <section>
        <form role="form" action="/image/home" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <select class="form-control" name="album" required=true>
              <% let albms = agent.reviewables.concat(agent.submittables); %>
              <% albms = albms.filter(function(acct, pos) { %>
              <%   let index = albms.findIndex(function(a) { %>
              <%     return a._id.toString() == acct._id.toString(); %>
              <%   }); %>
              <%   return index == pos; %>
              <% }); %>
              <% for (let album of albms) { %>
                <option value=<%= album._id %>><%= album.name%></option>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" required=true>
          </div>
          <div class="form-group">
            <label for="docs">Upload documentation:</label>
            <input class="form-control" type="file" id="docs" name="docs" multiple=true>
            <ol id="selected-files"></ol>
          </div>
          <div class="form-group">
            <label for="tookPlaceAt">Date of image:</label>
            <% var date = new Date() %>
            <input class="form-control" id="datepicker" type="text" name="tookPlaceAt" required=true
                            value="<%= date.getFullYear() %>-<%= date.getMonth() + 1 %>-<%= date.getDate() %>">
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="submit">Submit</button>
          </div>
        </form>

      </section>
    </details>
    <% if (agent.images.length) { %>
      <details>
        <summary id="images">Recent images</summary>
        <section>
          <% for (let image of agent.images) { %>
            <% include ../image/image %>
          <% } %>
        </section>
      </details>
    <% } %>

  </main> 
<!--
    script(type="text/javascript", src="/scripts/handleFileSelect.js")
    script(type="text/javascript", src="/scripts/toggleAccountForm.js")
-->
<% include ../_partials/footer %>

